body{
  background-color: #E3DCC7;
}

header{
  background-color: #AC626A;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Averia Serif Libre', serif;
}

p{
  font-family: 'EB Garamond', serif;
}

.justify-left {
  text-align: justify !important;
}

.coverimg{
  width:100%;
height:100%;
object-fit: cover;
overflow: hidden;
border-radius: 5px;
}
