/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: max-height 0.2s ease-out;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/*https://mentormate.com/blog/css-postit-note/*/

.postit {
	line-height: 1;
	text-align: center;
	width: 300px;
	margin: 25px;
	margin-left: 20%;
	min-height: 350px;
	max-height: 350px;
	padding: 4px;
	padding-top: 5x;
	position: relative;
	border: 1px solid #E8E8E8;
	border-top: 20px solid #ffff88;
	font-family: 'Gaegu', cursive;

	/*  font-size:40px !important;      */
	border-bottom-right-radius: 60px 5px;
	display: inline-block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffff88+81,ffff88+82,ffff88+82,fdffe8+100 */
background: #ffff88; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #fdffe8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#fdffe8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#fdffe8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#fdffe8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.postitBlue {
	line-height: 1;
	text-align: center;
	width: 300px;
	margin: 25px;
	margin-left: 20%;
	min-height: 350px;
	max-height: 350px;
	padding: 4px;
	padding-top: 5x;
	position: relative;
	border: 1px solid #E8E8E8;
	border-top: 20px solid #a1e2db;
	font-family: 'Gaegu', cursive;

	/*  font-size:40px !important;      */
	border-bottom-right-radius: 60px 5px;
	display: inline-block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a1e2db+81,aee5dd+82,eafffd+100 */
background: #a1e2db; /* Old browsers */
background: -moz-linear-gradient(-45deg, #a1e2db 81%, #aee5dd 82%, #eafffd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #a1e2db 81%,#aee5dd 82%,#eafffd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #a1e2db 81%,#aee5dd 82%,#eafffd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1e2db', endColorstr='#eafffd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.postitPurple {
	line-height: 1;
	text-align: center;
	width: 300px;
	margin: 25px;
	margin-left: 20%;
	min-height: 350px;
	max-height: 350px;
	padding: 4px;
	padding-top: 5x;
	position: relative;
	border: 1px solid #E8E8E8;
	border-top: 20px solid #daa6ed;
	font-family: 'Gaegu', cursive;

	/*  font-size:40px !important;      */
	border-bottom-right-radius: 60px 5px;
	display: inline-block;
/*Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#daa6ed+81,dea6f4+82,eafffd+100 */
background: #daa6ed; /* Old browsers */
background: -moz-linear-gradient(-45deg, #daa6ed 81%, #dea6f4 82%, #eafffd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #daa6ed 81%,#dea6f4 82%,#eafffd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #daa6ed 81%,#dea6f4 82%,#eafffd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daa6ed', endColorstr='#eafffd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

a:hover h3{
	background-color: chartreuse !important;
}

.postitGrey{
	line-height: 1;
	text-align: center;
	width: 300px;
	margin: 25px;
	margin-left: 20%;
	min-height: 350px;
	max-height: 350px;
	padding: 4px;
	padding-top: 5x;
	position: relative;
	border: 1px solid #E8E8E8;
	border-top: 20px solid #E2E2E2;
	font-family: 'Gaegu', cursive;

	/*  font-size:40px !important;      */
	border-bottom-right-radius: 60px 5px;
	display: inline-block;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+81,e2e2e2+82,f4fffd+100 */
background: #e2e2e2; /* Old browsers */
background: -moz-linear-gradient(-45deg, #e2e2e2 81%, #e2e2e2 82%, #f4fffd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #e2e2e2 81%,#e2e2e2 82%,#f4fffd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #e2e2e2 81%,#e2e2e2 82%,#f4fffd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#f4fffd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


.postit:after {
	content: "";
	position: absolute;
	z-index: -1;
	right: -0px;
	bottom: 20px;
	width: 200px;
	height: 25px;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
	-moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	-webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	-o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	-ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.postitBlue:after {
	content: "";
	position: absolute;
	z-index: -1;
	right: -0px;
	bottom: 20px;
	width: 200px;
	height: 25px;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
	-moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	-webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	-o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	-ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.postitPurple:after {
	content: "";
	position: absolute;
	z-index: -1;
	right: -0px;
	bottom: 20px;
	width: 200px;
	height: 25px;
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
	-moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	-webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	-o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	-ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
	transform: matrix(-1, -0.1, 0, 1, 0, 0);
}